body {
    background-color: black;
    margin: 0px;
    height: 100%;
}

img {
    width: 100%;
}

@font-face {
    font-family: DETERMINATION_MONO;
    src: url("../fonts/DeterminationSansWebRegular-369X.ttf");
}

@font-face {
    font-family: MARS;
    src: url("../fonts/Mars\ Needs\ Cunnilingus.ttf");
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

/************************ MAIN LAYER **************************/

#principal {
    background-image: url("../img/BGFrisk.png");
    background-repeat: no-repeat;
    background-size: 470px;
    background-position: right bottom;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.4s ease;
}

#principal.inactive {
    opacity: 0;
}

h1 {
    position: fixed;
    right: 110px;
    top: 50px;
    color: white;
    font-family: DETERMINATION_MONO;
    text-align: right;
}

/* Fond Géométrique */

#GeoStar {
    width: 60vw;
    position: fixed;
    margin-left: 5vw;
    top: -700px;
    transition: top 2s ease;
}

#GeoStar.animation {
    top: 0px;
}

/* Feuilles SAE */

#flexSAE {
    height: 100vh;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 6vw;
    top: 30px;
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: 2s;
}

#flexSAE.animation {
    opacity: 1;
}

.RowSAE {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-left: 2vw;
}

.SAE {
    background: black;
    border: solid white 2px;
    border-radius: 4px;
    width: 12.5vw;
    height: 32vh;
    padding-top: 10px;

    color: white;
    text-align: center;
    font-size: 24px;
    font-family: DETERMINATION_MONO;

    cursor: pointer;
}

.SAE:hover {
    background-color: white;
    border: solid rgb(136, 0, 255) 2px;
    color: black;
    width: 12.5vw;
    height: 32vh;
}

/************************ SAE LAYER **************************/

#SAELayer {
    background-image: url("../img/GeoBG.png");
    background-repeat: no-repeat;
    background-size: 140% 60%;
    background-position: center;
    background-color: black;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s ease;
    transition-delay: 1s;
}

#SAELayer.animation{
    animation: horizontal-shaking 0.5s ease infinite;
}

#SAELayer.invisible {
    transition: top 0s ease;
    top: -100vh;
}

.blueFlame {
    width: 90vw;
    height: 200vh;
}

.blueFlame>img {
    width: 100%;
    height: 100%;
    object-fit: fill;

}

#flame1 {
    position: fixed;
    left: 5vw;
    bottom: -100vh;
}

#titreSAE {
    color: white;
    font-family: DETERMINATION_MONO;
    font-size: 2em;
    margin-top: 32px;
    text-align: center;
    width: 10em;
}

#sousTitreSAE {
    position: fixed;
    color: white;
    font-family: DETERMINATION_MONO;
    text-align: right;
    margin-top: 64px;
}

#flexTitle {
    display: flex;
    justify-content: center;
}

#container3D{
    width: 80vw;
    height: 100vh;
    position: fixed;
    top: 10vh;
    left: 19vw;
}

#container3D.inactive{
    display: none;
}

#knight{
    width: 97.5%;
    height: 90%;
}

#knightText{
    color: white;
    position: fixed;
}

#stats{
    position: fixed;
    padding: 16px 32px;
    background-color: black;
    border: white 4px solid;
    width: 80vw;
    margin: 7.5vw;
    bottom: 16px;
    font-family: MARS;
    color: white;
}

.fountain {
    width: 30vw;
    height: 100vh;
    position: fixed;
}

.fountain.inactive{
    bottom: -100vh;
}

.fountain>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#fountain1{left: 20vw;opacity: 1;transition: opacity 0.25s ease;}
#fountain2{left: 0;bottom: 25vh;opacity: 1;transition: opacity 0.25s ease;}
#fountain3{left: 10vw;bottom: 50vh;opacity: 1;transition: opacity 0.25s ease;}
#fountain4{left: 35vw;bottom: 60vh;opacity: 1;transition: opacity 0.25s ease;}
#fountain5{right: 10vw;bottom: 50vh;opacity: 1;transition: opacity 0.25s ease;}
#fountain6{right: 0;bottom: 25vh;opacity: 1;transition: opacity 0.25s ease;}
#fountain7{right: 20vw;opacity: 1;transition: opacity 0.25s ease;}

#fountain1.inactive{opacity: 0;}
#fountain2.inactive{opacity: 0;}
#fountain3.inactive{opacity: 0;}
#fountain4.inactive{opacity: 0;}
#fountain5.inactive{opacity: 0;}
#fountain6.inactive{opacity: 0;}
#fountain7.inactive{opacity: 0;}

#fountain1.inactive.out{bottom: -100vh;}
#fountain2.inactive.out{bottom: -100vh;}
#fountain3.inactive.out{bottom: -100vh;}
#fountain4.inactive.out{bottom: -100vh;}
#fountain5.inactive.out{bottom: -100vh;}
#fountain6.inactive.out{bottom: -100vh;}
#fountain7.inactive.out{bottom: -100vh;}

#loading{
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#loading.complete{
    display: none;
}

#loading>img{
    width: 10vw;
    margin-top: 50vh;
    margin-left: 42.5vw;
}

/********************* FOOTER *************************/

footer {
    width: 999%;
    height: 65px;
    background-color: white;

    position: fixed;
    right: 0;
    bottom: 0;
    transition: bottom 1s ease;
}

footer.inactive {
    bottom: -65px;
    transition: bottom 1s ease;
}

#Audio {
    font-family: MARS;
    font-size: 24px;
    text-align: center;
    color: white;

    background-color: black;
    border-radius: 4px;
    padding: 4px;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    position: fixed;
    right: 350px;
    bottom: 15px;

    cursor: pointer;
}

#Semestre {
    font-family: MARS;
    font-size: 24px;
    text-align: center;
    color: white;

    background-color: black;
    border-radius: 4px;
    padding: 4px;

    position: fixed;
    right: 110px;
    bottom: 15px;

    cursor: pointer;
}

#ERASE {
    font-family: MARS;
    font-size: 24px;
    text-align: center;
    color: white;

    background-color: black;
    border-radius: 4px;
    padding: 8px;

    position: fixed;
    right: 110px;
    bottom: 15px;
    transition: bottom 1s ease;

    cursor: pointer;
}

#ERASE.inactive{
    bottom: -50px;
}

#summon {
    font-family: MARS;
    font-size: 24px;
    text-align: center;
    color: white;

    background-color: black;
    border-radius: 4px;
    padding: 8px;

    position: fixed;
    left: 100px;
    bottom: 15px;
    transition: bottom 1s ease;

    cursor: pointer;
}

#summon.inactive{
    bottom: -50px;
}

#Transition {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 1s ease;
}

#return {
    font-family: MARS;
    font-size: 24px;
    text-align: center;
    color: white;

    background-color: black;
    border-radius: 4px;
    padding: 8px;

    position: fixed;
    right: 200px;
    bottom: 15px;
    transition: bottom 1s ease;

    cursor: pointer;
}

#Transition.active {
    opacity: 1;
    top: 0;
    transition: opacity 1s ease;
}

#annoying-dog-undertale {
    width: 10vw;
    position: fixed;
    right: -10vw;
    bottom: 10px;
    transition: right 0s ease;
    transition-delay: 0.5s;
}

#annoying-dog-undertale.active {
    right: 110vw;
    transition: right 3s ease;
}