body{
    margin: 0;
    background: linear-gradient(90deg,#3da0f6,#0046c9);
    height: 100vh;
    width: 100vw;
}

.logoWindows{
    position: fixed;
    right: 10vw;
    margin-top: 64px;
    width: 15vw;
}

.logoWindows>img{
    width: 100%;
}

.bureau{
    display: flex;
}

.application{
    width: 96px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 4px;
}

.application:hover{
    opacity: 0.8;
    background-color: rgb(204, 204, 204);
}

.application>img{
    width: 64px;
    height: 64px;
    position: fixed;
    margin-bottom: 32px;
}

.application>div{
    position: fixed;
    margin-top: 48px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

footer{
    width: 100%;
    height: 48px;
    background-color: rgb(40, 40, 40);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

footer>img{
    height: 32px;
    margin-left: 4px;
    cursor: pointer;
}

input[type=search]{
    border-radius: 16px;
    border: none;
    height: 24px;
}

#error{
    position: fixed;
    width: 20vw;
    height: 25vh;
    background: #404040;
    top: -30vh;
    left: -35vw;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#error.active{
    top: 30vh;
    left: 35vw;
}

.insideBox{
    width: 95%;
    height: 80%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    background: white;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 2px 4px;
}