/**************************** SECTION LOGIN ********************************/

#intro{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;

    opacity: 1;
    background-image: url(../img/Flandre.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/************* CONTENU **************/

#intro>#heure{
    color: white;
    text-align: center;
    margin-top: 15vh;
    font-size: 12vh;
    font-weight: bolder;
    padding: 0;
}

#intro>#date{
    color: white;
    text-align: center;
    font-size: 3vh;
}

#intro>#loader {
    margin-left: 47.5vw;
    margin-top: 3vh;
    width: 5vw;
    opacity: 0;
}

#loginBtn {
    border: white solid 1px;
    border-radius: 2px;
    color: white;
    text-align: center;
    width: 5vw;
    background-color: #404040;
    padding: 5px 0;
    margin-left: 47.5vw;
    margin-top: 20vh;
    cursor: pointer;
}

#loginBtn:hover{
    background-color: #303030;
}

/************* ANIMATION DISPLAY OFF **************/

#intro.inactive{
    opacity: 0;
    transition: opacity 2s ease;
}

#intro.inactive.out{
    top: 100vh;
    transition: top 0s
}

/**************************** SECTION BUREAU ***************************/

body{
    margin: 0;
    background: linear-gradient(90deg,#3da0f6,#0046c9);
    height: 100vh;
    width: 100vw;
}

/************* CONTENEUR LOGO WINDOWS **************/

.logoWindows{
    position: fixed;
    right: 10vw;
    margin-top: 64px;
    width: 15vw;
}

.logoWindows>img{
    width: 100%;
}

/************* RACCOURCI APPLICATION **************/

.bureau{
    display: flex;
}

.application{ /* conteneur */
    width: 96px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 4px;
}

.application>div{ /* text conteneur */
    position: fixed;
    margin-top: 48px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.application:hover{ /* conteneur lorsqu'on passe dessus */
    opacity: 0.8;
    background-color: rgb(204, 204, 204);
}

.application>img{
    width: 64px;
    height: 64px;
    position: fixed;
    margin-bottom: 32px;
}

/************* BARRE DES TACHES **************/

footer{ /* conteneur application et autre*/
    width: 100vw;
    height: 48px;
    background-color: rgb(40, 40, 40);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

footer>img{
    height: 32px;
    margin-left: 4px;
    cursor: pointer;
}

input[type=search]{ /* custom barre de recherche */
    border-radius: 16px;
    border: none;
    height: 24px;
}

/************* POP-UP **************/

#error{ /* pop-up div */
    position: fixed;
    width: 20vw;
    height: 25vh;
    background: #404040;
    top: -30vh;
    left: -35vw;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#error.active{ /* affichage pop-up */
    top: 30vh;
    left: 35vw;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 2px 4px;
}

.insideBox{ /* contenu pop-up */
    width: 95%;
    height: 80%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    background: white;
}